/* <---overview userprofile----> */
.mantine-9ajpia{
    color: #787f80 ;
    padding: 0 !important;
}

.mantine-9ajpia[data-active] {
    background-color: #161618 !important;
    color: white;
}

.mantine-9ajpia:hover {
    background-color: #161618 !important;
    color: #8ab4f8;
}